<a href="https://colab.research.google.com/github/Dityath/fuzzy-logic-restaurant/blob/main/Fuzzy_Logic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fuzzy Logic Assignment

- Ditya Athallah
- 
-

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
table = pd.read_excel("https://github.com/Dityath/fuzzy-logic-restaurant/blob/main/restoran.xlsx?raw=true")
table

     id  pelayanan  makanan
0     1         58        7
1     2         54        1
2     3         98        2
3     4         52        4
4     5         11        4
..  ...        ...      ...
95   96         30        1
96   97         25        3
97   98         27       10
98   99          8        6
99  100         11        8

[100 rows x 3 columns]